﻿@model CarsRental.MixedModels.CreateOrEditCustomer

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@{
    string actionToRun = "";
    if ((Model.Customer == null) || (Model.Customer.Id == 0))
    {
        actionToRun = "CreateRequest";
    }
    else
    {
        actionToRun = "EditRequest";
    }
}

@using (Html.BeginForm(actionToRun, "Customers"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "Fix errors !", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Pesel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Customer.Pesel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.Pesel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Customer.Birthdate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Customer.Birthdate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.RentalStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Customer.RentalStartDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Customer.RentalStartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.RentalEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Customer.RentalEndDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Customer.RentalEndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.IsSubscribed, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                <label>
                    @Html.EditorFor(model => model.Customer.IsSubscribed)
                    @Html.ValidationMessageFor(model => model.Customer.IsSubscribed, "", new { @class = "text-danger" })
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Customer.SubscriptionTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Customer.SubscriptionTypeId, new SelectList(Model.SubscriptionTypes, "Id", "Name"), "(Select type)", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Customer.SubscriptionTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        if ((Model.Customer == null) || (Model.Customer.Id == 0))
        {
            @Html.Hidden("Id", 0);
        }
        else
        {
            @Html.HiddenFor(c => c.Customer.Id)
        }
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
