﻿@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Customers</h2>
<p>
    @Html.ActionLink("Create customer", "Create", "Customers", null, new { @class = "btn btn-primary" })
</p>
<table id="customersList" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Subscription type</th>
            <th>Rental start date</th>
            <th>Rental end date</th>
            <th>Info</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
      $(document).ready(function()
      {
          var dataTable = $("#customersList").DataTable({
              ajax: {
                  url: "/api/customers",
                  dataSrc: ""
              },
              columns: [
                  {
                      data: "name",
                      render: function (data, type, customer) {
                          return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                      }
                  },
                  {
                      data: "subscriptionType.name"
                  },
                  {
                      data: "rentalStartDate",
                      render: function (data, type) {
                        var dateSplit = data.split('-');
                        return type === "display" || type === "filter" ?
                            dateSplit[2].substring(0, 2) +'/'+ dateSplit[1] +'/'+ dateSplit[0] : data;
                      }
                  },
                  {
                      data: "rentalEndDate",
                      render: function (data, type) {
                        var dateSplit = data.split('-');
                        return type === "display" || type === "filter" ?
                            dateSplit[2].substring(0, 2) +'/'+ dateSplit[1] +'/'+ dateSplit[0] : data;
                      }
                  },
                  {
                      data: "id",
                      render: function (data, type, customer) {
                          return "<a href='/customers/info/" + customer.id + "'>Info</a>";
                      }
                  },
                  {
                      data: "id",
                      render: function (data) {
                          return "<button class='btn-link js-delete' customerId=" + data + ">Delete</button>";
                      }
                  }
              ]
          });



          $("#customersList").on("click", ".js-delete", function()
          {
              var btn = $(this);

              bootbox.confirm("Do you want to delete customer?", function (result)
              {
                  if (result)
                  {
                      $.ajax({
                      url: "/api/customers/" + btn.attr("customerId"),
                      method: "DELETE",
                      success: function()
                      {
                          dataTable.row(btn.parents("tr")).remove().draw();
                      }
                  });
                  }
              });
          });
      });
    </script>
}