﻿
@model CarsRental.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer info</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @if (Model.Birthdate.HasValue)
            {

                @Model.Birthdate.Value.ToShortDateString()
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalStartDate)
        </dt>

        <dd>
            @Model.RentalStartDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalEndDate)
        </dt>

        <dd>
            @Model.RentalEndDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSubscribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSubscribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionType.Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionType.Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionType.DiscountPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionType.DiscountPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionType.DurationInMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionType.DurationInMonths)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

