﻿@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Customers</h2>
<table id="customersList" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Subscription type</th>
            <th>Rental start date</th>
            <th>Rental end date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
      $(document).ready(function()
      {
          var dataTable = $("#customersList").DataTable({
              ajax: {
                  url: "/api/customers",
                  dataSrc: ""
              },
              columns: [
                  {
                      data: "name"
                  },
                  {
                      data: "subscriptionType.name"
                  },
                  {
                      data: "rentalStartDate",
                      render: function (data, type) {
                        var dateSplit = data.split('-');
                        return type === "display" || type === "filter" ?
                            dateSplit[2].substring(0, 2) +'/'+ dateSplit[1] +'/'+ dateSplit[0] : data;
                      }
                  },
                  {
                      data: "rentalEndDate",
                      render: function (data, type) {
                        var dateSplit = data.split('-');
                        return type === "display" || type === "filter" ?
                            dateSplit[2].substring(0, 2) +'/'+ dateSplit[1] +'/'+ dateSplit[0] : data;
                      }
                  }
              ]
          });
      });
    </script>
}