﻿@model dynamic

@{
    ViewBag.Title = "New rental";
}

<h2>New rental</h2>

<form id="rentalForm">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customerInput" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Car</label>
        <div class="tt-container">
            <input id="carInput" name="car" data-rule-minOneCar="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="addedCars" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var viewModelData = { carIds: [] };



            var customersList = new Bloodhound({
                datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.name); },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                limit: Number.MAX_VALUE,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customerInput').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'customers',
                    display: 'name',
                    source: customersList
                }).on("typeahead:select", function (e, customer) {
                    viewModelData.customerId = customer.id;
                });



            var carsList = new Bloodhound({
                datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.name); },
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                limit: Number.MAX_VALUE,
                remote: {
                    url: '/api/cars?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#carInput').typeahead({
                minLength: 3,
                highlight: true
            }, {
                    name: 'cars',
                    display: 'name',
                    source: carsList
                }).on("typeahead:select", function (e, car) {
                    $("#addedCars").append("<li class='list-group-item'>" + car.name + "</li>");
                    $("#carInput").typeahead("val", "");
                    viewModelData.carIds.push(car.id);
                });


            $.validator.addMethod("validCustomer", function () {
                return viewModelData.customerId && viewModelData.customerId !== 0;
            }, "Select valid customer");
            $.validator.addMethod("minOneCar", function () {
                return viewModelData.carIds.length > 0;
            }, "Select at least one car");


            var validator = $("#rentalForm").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: viewModelData
                    })
                    .done(function () {
                        toastr.success("Saving of new rental is done");

                        $("#customerInput").typeahead("val", "");
                        $("#carInput").typeahead("val", "");
                        $("#addedCars").empty();

                        viewModelData = { carIds: [] };

                        validator.resetForm();
                    })
                    .fail(function () {
                        toastr.error("Some error occurred");
                    });
                    return false;
                }
            });
        });
    </script>
}