﻿@model CarsRental.MixedModels.CreateOrEditCar

@{
    ViewBag.Title = "Car";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car</h2>

@{
    string actionToRun = "";
    if ((Model.Car == null) || (Model.Car.Id == 0))
    {
        actionToRun = "CreateRequest";
    }
    else
    {
        actionToRun = "EditRequest";
    }
}

@using (Html.BeginForm(actionToRun, "Cars"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    @Html.ValidationSummary(true, "Fix errors !", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Car.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Car.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.RegistrationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Car.RegistrationNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.CarTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.CarTypeId, new SelectList(Model.CarTypes, "Id", "Name"), "(Select type)", new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Car.CarTypeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.ProductionDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(c => c.Car.ProductionDate, "{0:dd-MM-yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Car.ProductionDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.NumberInStock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.NumberInStock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Car.NumberInStock, "", new { @class = "text-danger" })
        </div>
    </div>

    @{
        if ((Model.Car == null) || (Model.Car.Id == 0))
        {
            @Html.Hidden("Id", 0);
        }
        else
        {
            @Html.HiddenFor(c => c.Car.Id)
        }
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}