﻿@model IEnumerable<CarsRental.Models.Car>



@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Cars</h2>
<p>
    @Html.ActionLink("Create car", "Create", "Cars", null, new { @class = "btn btn-primary" })
</p>
<table id="carsList" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Car</th>
            <th>Registration number</th>
            <th>Car type</th>
            <th>Number in stock</th>
            <th>Number available</th>
            <th>Info</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#carsList").DataTable({
                ajax: {
                    url: "/api/cars",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, car) {
                            return "<a href='/cars/edit/" + car.id + "'>" + car.name + "</a>";
                        }
                    },
                    {
                        data: "registrationNumber"
                    },
                    {
                        data: "carType.name"
                    },
                    {
                        data: "numberInStock"
                    },
                    {
                        data: "numberAvailable"
                    },
                    {
                        data: "id",
                        render: function (data, type, car) {
                            return "<a href='/cars/info/" + car.id + "'>Info</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' carId=" + data + ">Delete</button>";
                        }
                    }
                ]
            });



            $("#carsList").on("click", ".js-delete", function () {
                var btn = $(this);

                bootbox.confirm("Do you want to delete car?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/cars/" + btn.attr("carId"),
                            method: "DELETE",
                            success: function () {
                                dataTable.row(btn.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}