﻿@model CarsRental.Models.Car


@*
  This file exist only for tests purposes.    
*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random car test</h2>
<p>@Model.Name</p>