﻿@model IEnumerable<CarsRental.Models.Car>



@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Cars</h2>
<table id="carsList" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Car</th>
            <th>Registration number</th>
            <th>Car type</th>
            <th>Number in stock</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#carsList").DataTable({
                ajax: {
                    url: "/api/cars",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "registrationNumber"
                    },
                    {
                        data: "carType.name"
                    },
                    {
                        data: "numberInStock"
                    }
                ]
            });
        });
    </script>
}